footer {
  background: #434348;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1{
      color: #48A4A4; 
      text-align: center;
      font-size: 2.25rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    ul{
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
    }
    .header-list{
      li{
        padding: 1.25rem 2rem;
        a{
          color: #48A4A4;
          font-size: 1.5rem;
          transition: 0.5s ease-in-out;
          &:hover{
            color: black;
          }
        }
      }
    }

    .hearder-pic{
      li{
        a {
          color: #48A4A4;
          font-size: 1rem;
          padding: 1.25rem 2rem;
          
          i {
            color: white;
            font-size: 2rem;
            padding: 0rem 1.25rem;
            padding-bottom: 1rem;
            transition: 0.5s ease-in-out;
            &:hover{
              color: black;
            }
          }
         }
       }
     }
    
    p{
      color: #48A4A4;
      text-align: center;
      font-size: 1rem;
    }
}
