#casepage {
  height: 180vh;
  .case-text {
    text-align: center;
    padding: 3rem;
    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  // .case-pic{
  //     ul{
  //         display: flex;
  //         justify-content: space-evenly;
  //         li{
  //             .case{
  //                 width: 35vw;
  //                 height: 35vh;
  //             }
  //             p{
  //                 text-align: center;
  //             }
  //             .pic1{
  //                 background: url(../../images/casePage/210521_circle_0.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //             .pic2{
  //                 background: url(../../images/casePage/210527_suyufish_x.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //             .pic3{
  //                 background: url(../../images/casePage/210530_marasovic_0.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //             .pic4{
  //                 background: url(../../images/casePage//210716_cl_0.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //             .pic5{
  //                 background: url(../../images/casePage/210716_modernhouse_0.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //             .pic6{
  //                 background: url(../../images/casePage/210717_think_0.jpg);
  //                 background-position: center;
  //                 background-size: cover;
  //             }
  //         }
  //     }
  // }

  .case-pic {
    display: grid;
    grid-column-gap: 7vw;
    grid-template-columns: auto auto;
    padding: 4rem;
    .case {
      height: 35vh;
      margin-bottom: 8rem;
      position: relative;
      z-index: -1;
      p {
        position: absolute;
        bottom: -7vh;
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
      }
    }
    .pic1 {
      background: url(../../images/casePage/210521_circle_0.jpg);
      background-position: center;
      background-size: cover;
    }
    .pic2 {
      background: url(../../images/casePage/210527_suyufish_x.jpg);
      background-position: center;
      background-size: cover;
    }
    .pic3 {
      background: url(../../images/casePage/210530_marasovic_0.jpg);
      background-position: center;
      background-size: cover;
    }
    .pic4 {
      background: url(../../images/casePage//210716_cl_0.jpg);
      background-position: center;
      background-size: cover;
    }
    .pic5 {
      background: url(../../images/casePage/210716_modernhouse_0.jpg);
      background-position: center;
      background-size: cover;
    }
    .pic6 {
      background: url(../../images/casePage/210717_think_0.jpg);
      background-position: center;
      background-size: cover;
    }
  }
}

@media screen and (max-width:800px) {
  #casepage{
    height: 140vh;
    .case-text{
      h1{
        margin-top: 4rem;
        font-size: 2rem;
      }
    }  
    .case-pic{
      height: 130vh;
      padding: 2rem;
      .case{
        height: 20vh;
        margin-bottom: 5rem;
        p{
          font-size: 0.75rem;
          bottom: -3vh;
        }
      }
    }
  }  
}

@media screen and (max-width:600px) {
  #casepage {
    height: 180vh;
    .case-pic{
      height: 250vh;
      grid-template-columns: auto;
    }
  }
}


@media screen and (max-width:400px) {
  #casepage{
    .case-text{
      h1{
        font-size: 1.5rem;
      }
      p{
        font-size: 0.75rem;
      }
    }
    .case-pic{
      .case{
        p{
          font-size: 0.75rem;
        }
      } 
    } 
  }
}