<footer>
    <p>Howard Company</p>
    <ul>
        <li><a class="footerLi" href="/about">ABOUT</a></li>
        <li><a class="footerLi" href="/service">SEVICE</a></li>
        <li><a class="footerLi" href="/case">CASE</a></li>
        <li><a class="footerLi" href="contant">CONTACT</a></li>
    </ul>
    <p>2021 Howard company reserved</p>
</footer>