<footer>
    <h1>Howard Company</h1>
    <ul class="header-list">
        <li><a class="footerLi" href="/">HOME</a></li>
        <li><a class="footerLi" href="/about">ABOUT</a></li>
        <li><a class="footerLi" href="/case">CASE</a></li>
        <li><a class="footerLi" href="/contact">CONTACT</a></li>
    </ul>
    <ul class="hearder-pic">
        <li><a href="https://github.com/s200048" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ho-wai-mui-687646219/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://www.instagram.com/hwm__h/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/howai.mui/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    </ul>
    <p>© 2021 Howard company reserved</p>
</footer>