<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/bec30509e3.js" crossorigin="anonymous"></script>
    <title>Howard Company</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>HOWARD COMPANY</p>
        </div>
        <nav>
            <ul>
                <li><a class="navAtag" href="/">HOME</a></li>
                <li><a class="navAtag" href="/about">ABOUT</a></li>
                <!-- <li><a class="navAtag" href="/service">SERVICE</a></li> -->
                <li><a class="navAtag" href="/case">CASE</a></li>
                <li><a class="navAtag" href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    
    
</body>
<script>
    let header = document.querySelector("header");

    addEventListener("scroll", () => {
    //console.log(window.pageYOffset);
    if (window.pageYOffset === 0) {
        header.classList.remove("dynamicHeader");
    } else {
        header.classList.add("dynamicHeader"); 
    }
    });
</script>
</html>