<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Howard Company</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>Howard Company</p>
        </div>
        <nav>
            <ul>
                <li><a class="navAtag" href="/">HOME</a></li>
                <li><a class="navAtag" href="/about">ABOUT</a></li>
                <li><a class="navAtag" href="/service">SERVICE</a></li>
                <li><a class="navAtag" href="/case">CASE</a></li>
                <li><a class="navAtag" href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    
    
</body>
</html>