<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Header</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="navAtag" href="/"></a>HOME</li>
            <li><a class="navAtag" href="/about"></a>ABOUT</li>
            <li><a class="navAtag" href="/service"></a>SERVICE</li>
            <li><a class="navAtag" href="/case"></a>CASE</li>
            <li><a class="navAtag" href="/contact"></a>CONTACT</li>
        </ul>
    </nav>
    
    
</body>
</html>