* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
}

body {
  height: 180vh;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0.5rem 1.5rem;
  position: sticky;
  // top: 0;
  // left: 0;
  // z-index: 3;
  transition: all 0.3s ease-in;
  .menu-icons {
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 50;
    display: none;
  }
  .logo {
    flex-grow: 6;
    font-size: 2rem;
    color: #48a4a4;
    font-weight: bold;
  }

  nav {
    // flex-grow: 4;
    ul {
      display: flex;
      /* align-items: flex-start; */
      /* justify-content: space-around; */
      & li {
        list-style-type: none;
        padding: 0rem 2.2rem;
        & a {
          text-decoration: none;
          color: #48a4a4;
          font-size: 1.5rem;
          transition: 0.5s ease-in-out;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

.dynamicHeader {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 0;
  left: 0;
  z-index: 3;
  a {
    color: white;
    &:hover {
      color: #48a4a4;
    }
  }
}

@media screen and (max-width: 780px) {
  header {
    height: 20vh;
    flex-direction: column;
    background: rgb(165, 153, 153);
    .menu-icons {
      display: block;
      font-size: 30px;
      //   .fa-times {
      //     display: none;
      //   }
    }

    .nav-list {
      display: none;
      flex-direction: column;
    }
    // .active.menu-icons .fa-times {
    //   display: block;
    // }
    // .active.menu-icons .fa-bars {
    //   display: none;
    // }
    // .active nav .nav-list {
    //   display: flex;
    // }
  }
}
