<%- include ("../partials/header") %>

<section id="aboutMore">
    <div id="aboutMorepic">

    </div>
    <div id="aboutMoreText">
        <h1>WHAT WE DO</h1>
        <p>Inbloom Concept is formed by a team of talented and award-winning interior designers. 
            The team has come up with a comprehensive approach throughout the past years. 
            The team aims to transform your space at an affordable cost, one-of-a-kind yet economical 
            furniture in a brief time, meanwhile brings design inspirations to you. 
        </br>
        Our priority is understanding the specific needs of each client and building dream space with 
        a cost-effective solution.
        </br>
        Want to transform your space? 
        </br>
        Give us a call.

        wo shi siu Hynn ;)
        </p>
    </div>
    
</section>

<%- include ("../partials/footer") %>