<%- include ("partials/header") %>
<section class="homePage1">
    <div class="firstBackgoundPic">
        <!-- <img src="/images/first page/first.jpg" alt="firstpage" width="100%" height="100%" > -->
        <p>Ready to design your dream house?</p>
        <a href="#"><p>Design it now!</p></a>
        <a href="#">Contact us</a>
    </div>
    <!-- <div class="homePage1Text">
        
    </div> -->
    
    
</section>

<%- include ("partials/footer") %>