<%- include ("partials/header") %>

<!-- Homepage -->

<section class="homePage1">
    <div class="firstBackgoundPic">
        <!-- <img src="/images/first page/first.jpg" alt="firstpage" width="100%" height="100%" > -->
        <p>Ready to design your dream house?
        <br>
        Design it now!</p>
        <a href="#">Design Now!</a>
    </div>
    <div class="homePagefilter"></div>
</section>


<!-- About in Homepage -->
<section class="aboutUs">
    <div class="aboutContent">
        <h1>ABOUT US</h1>
        <p>The establishment of the HK Office Design office decoration platform is to overturn the traditional design and 
            decoration industry, strengthen supervision and enhance transparency, so that decoration is no longer a difficult 
            task. We focus on quality, are determined to provide our customers with the best guarantee and service, 
            and focus on making your decoration the best.</p>
        <a href="/about">CLICK FOR MORE</a>
    </div>
    <div class="imgContent">
        <img class="aboutimg1" src="/images/aboutus/210517_weega_0x.jpg" >
        <img class="aboutimg2" src="/images/aboutus/210606_morein_0.jpg">
    </div>
</section>

<!-- Our service -->
<section id="servicePage">
    <div class="serviceText">
        <h1>OUR SERVICES</h1>
        <p>"HK Office Design has provided decoration advice to more than 500 guests so far, 
            more than 200 cases have been completed and processed, and the satisfaction rate has 
            exceeded 90%!"</p>
    </div>
    <div class="graphicPic">
        <ul>
            <li><i class="fas fa-hand-holding-usd"></i><p>COST EFFECTIVE</p></li>
            <li><i class="fas fa-clock"></i><p>TIME EFFECTIVE</p></li>
            <li><i class="fas fa-tools"></i><p>CONSTRUCTION WORK</p></li>
            
        </ul>
        <ul>
            <li><i class="fas fa-swatchbook"></i><p>INTERIOR DESIGN</p></li>
            <li><i class="far fa-object-group"></i><p>SPACE PLANNING</p></li>
            <li><i class="fas fa-lightbulb"></i><p>SMART HOME SOLUTIONS</p></li>
        </ul>
        
    </div>
</section>



<%- include ("partials/footer") %>