<%- include ("../partials/header") %>

<a id="back-top" href="#">
    <i class="fas fa-angle-up"></i>
</a>

<section id="casepage">
    <div class="case-text">
        <h1>LATEST INTERIOR DESIGN PROJECTS</h1>
        <p>Explore our previous interior design and construction works below for more inspiration. </p>
    </div>
    <div class="case-pic">
            <!-- <ul>
                <li>
                    <div class="case pic1"></div>
                    <p>A Soft Tone for a Warm and Sweet Home</p>
                </li>
                <li>
                    <div class="case pic2"></div>
                    <p>Nest and Comfy Design with Wood Element</p>
                </li>
            </ul>
            
            <ul>
                <li>
                    <div class="case pic3"></div>
                    <p>A Warm and Modish Home</p>
                </li>
                <li>
                    <div class="case pic4"></div>
                    <p>A Light Luxurious Living Style</p>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="case pic5"></div>
                    <p>Mid-Century Modern Style Home</p>
                </li>
                <li>
                    <div class="case pic6"></div>
                    <p>Bring Nature to Your Home</p>
                </li>
            </ul> -->
            <div class="case pic1">
                <p>A Soft Tone for a Warm and Sweet Home</p>
            </div>
            <div class="case pic2">
                <p>Nest and Comfy Design with Wood Element</p>
            </div>
            <div class="case pic3">
                <p>A Warm and Modish Home</p>
            </div>
            <div class="case pic4">
                <p>A Light Luxurious Living Style</p>
            </div>
            <div class="case pic5">
                <p>Mid-Century Modern Style Home</p>
            </div>
            <div class="case pic6">
                <p>Bring Nature to Your Home</p>
            </div>
        
    </div>
</section>

<%- include ("../partials/footer") %>