*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0.5rem 1.5rem;
}

header div.logo {
    flex-grow: 6;
}

header div.logo p{
    color: #48A4A4;
}

header nav ul {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: space-around; */
    flex-grow: 4;
}

header nav ul li{
    list-style-type: none;
    padding: 0rem 1rem;
}
header nav ul li a {
    text-decoration: none;
    color: #48A4A4;
}

header nav ul li a:hover{
    color: black;
    transition: 0.5s ease-in-out;
}

/* First Page */
section.homePage1 {
    height: 90vh;
}

/* .firstBackgound {
    width: 100%;
    height: 100%;
} */