<%- include ("../partials/header") %>

<section id="contact-page">
    <div class="container">
        <div class="contact-pic">
            <!-- <img src="/images/contactPage/210614_nuinfinity_0.jpg"> -->
        </div>
        <div class="contact-text">
            <h1>CONTACT</h1>
            <p>Email: howardmui2021@gmail.com</p>
            <p>Tel: +852 92630122</p>
            <p>Whatsapp/ Signal: +852 92630122</p>


        </div>
        
    </div>
</section>

<section id="contact-form">
    <div class="container-form">
        <h1>LOOKING FOR INTERIOR SEDIGN SERVICE?
        </br>
        LEAVE US A MESSAGE!</h1>
        <form method="POST" action="contact">
            <input class="form-inp one" type="text" placeholder="Firstname">
            </br>
            <input class="form-inp two" type="text" placeholder="Lastname">
            </br>
            <input class="form-inp three"type="email" placeholder="Email">
            </br>
            <input class="form-inp four" type="tel" placeholder="Tel" maxlength="15">
            </br>
            <input class="form-inp five" type="text" placeholder="Address" maxlength="50">
            </br>
            <textarea class="form-inp six" placeholder="Design Requirement" maxlength="500"></textarea>
            </br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include ("../partials/footer") %>