<%- include ("../partials/header") %>

<a id="back-top" href="#">
    <i class="fas fa-angle-up"></i>
</a>

<section id="contact-page">
    <div class="container">
        <div class="contact-pic">
            <!-- <img src="/images/contactPage/210614_nuinfinity_0.jpg"> -->
        </div>
        <div class="contact-text">
            <h1>CONTACT</h1>
            <p>Email: howardmui2021@gmail.com</p>
            <p>Tel: +852 92630122</p>
            <p>Whatsapp/ Signal: +852 92630122</p>


        </div>
        
    </div>
</section>

<section id="contact-form">
    <div class="container-form">
        <h1>LOOKING FOR INTERIOR SEDIGN SERVICE?
        </br>
        LEAVE US A MESSAGE!</h1>
        <form method="POST" action="/contact/formhandler">
            <!-- <label for="Firstname"></label> -->
            <input id="firstName" name="firstname"class="form-inp one" type="text" placeholder="Firstname" autocomplete="off">
            </br>
            <!-- <label for="Lastname"></label> -->
            <input id="lastName" name="lastname" class="form-inp two" type="text" placeholder="Lastname" autocomplete="off">
            </br>
            <!-- <label for="Email"></label> -->
            <input id="Email" name="email" class="form-inp three"type="email" placeholder="Email" autocomplete="off">
            </br>
            <!-- <label for="Tel"></label> -->
            <input id="Tel" name="tel" class="form-inp four" type="tel" placeholder="Tel" maxlength="15" autocomplete="off">
            </br>
            <!-- <label for="Address"></label> -->
            <input id="Address" name="address" class="form-inp five" type="text" placeholder="Address" maxlength="50" autocomplete="off">
            </br>
            <!-- <label for="DesignReq"></label> -->
            <textarea id="designReq" name="designreq" class="form-inp six" placeholder="Design Requirement" maxlength="500" autocomplete="off"></textarea>
            </br>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<%- include ("../partials/footer") %>