<%- include ("../partials/header") %>
<section id="formHandler">
    <i class="far fa-check-circle"></i>
    <h1>Thank you!</h1>
    <p>Your submission has been received.</p>
    <p>We will inform you as fast as possible</p>
    <a href="/">Redirect to Homepage</a>
</section>
    
<%- include ("../partials/footer") %>