#contact-page {
  height: 90vh;
}

#contact-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-page .container .contact-text {
  text-align: center;
  width: 50%;
  padding: 5rem;
}

#contact-page .container .contact-text h1 {
  font-size: 3rem;
  padding: 3rem;
  margin-bottom: 2.5rem;
}

#contact-page .container .contact-text p {
  font-size: 1.5rem;
  padding: 3rem;
}

#contact-page .container .contact-pic {
  width: 50%;
  height: 90vh;
  background: url(../../images/contactPage/pexels-daria-shevtsova-892618.jpg);
  background-size: cover;
  background-position: center;
}

#contact-form {
  height: 100vh;
}

#contact-form .container-form {
  text-align: center;
  padding: 0 3rem;
}

#contact-form .container-form h1 {
  padding: 10rem 0 3rem 0;
  font-size: 3rem;
}

#contact-form .container-form form input,
#contact-form .container-form form textarea {
  width: 40%;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

#contact-form .container-form form input::-webkit-input-placeholder,
#contact-form .container-form form textarea::-webkit-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input:-ms-input-placeholder,
#contact-form .container-form form textarea:-ms-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input::-ms-input-placeholder,
#contact-form .container-form form textarea::-ms-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input::placeholder,
#contact-form .container-form form textarea::placeholder {
  font-weight: bold;
}

#contact-form .container-form form .one,
#contact-form .container-form form .two,
#contact-form .container-form form .three,
#contact-form .container-form form .four,
#contact-form .container-form form .five {
  height: 30px;
}

#contact-form .container-form form .six {
  height: 100px;
}

#contact-form .container-form form button {
  width: 10%;
  border: solid 1px;
  color: black;
  background: white;
  padding: 0.5rem 1.5rem;
  margin-top: 1.5rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
  cursor: pointer;
}

#contact-form .container-form form button:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

@media screen and (max-width: 800px) {
  #contact-page {
    height: 50vh;
  }
  #contact-page .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-page .container .contact-text {
    width: 100%;
  }
  #contact-page .container .contact-text h1 {
    font-size: 1.5rem;
  }
  #contact-page .container .contact-text p {
    font-size: 1rem;
  }
  #contact-page .container .contact-pic {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #back-top {
    width: 30px;
    height: 30px;
  }
  #back-top i {
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 7px;
  }
  #contact-page .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-page .container .contact-text {
    padding: 0rem;
    text-align: left;
  }
  #contact-page .container .contact-text h1 {
    text-align: center;
    padding: 4rem 0 1.5rem 0;
    margin-bottom: 0;
  }
  #contact-page .container .contact-text p {
    padding: 0rem;
  }
  #contact-form .container-form h1 {
    padding: 0;
    font-size: 1rem;
  }
  #contact-form .container-form form .form-inp {
    width: 70vw;
  }
  #contact-form .container-form form button {
    width: 50%;
  }
}
/*# sourceMappingURL=contact.css.map */