/* First Page */

//back-top button
#back-top {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.4s;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  &:hover{
    background-color: rgba(0, 0, 0, 1);
  }
  i {
    font-size: 32px;
    color: #48a4a4;
  }
}

#back-top.showBtn {
  opacity: 1;
  pointer-events: auto;
}


//First section
section.homePage1 {
  position: relative;
  // display: flex;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */

  div.firstBackgoundPic {
    background: url(../../images/firstpage/first.jpg);
    height: 90vh;
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    p {
      color: #235057;
      font-size: 3rem;
      text-align: center;
      font-weight: normal;
      margin: 3rem;
      z-index: 2;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      background-color: white;
      border: solid 2px;
      color: #235057;
      font-size: 1.25rem;
      padding: 1rem 2.5rem;
      text-align: center;
      z-index: 2;
      transition: 0.5s ease-in;
      opacity: 0.4;
      &:hover {
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }
    }
  }
  .homePagefilter {
    background-color: rgba(255, 255, 255, 0.6);
    // opacity: 0.2;
    height: 90vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}


// about in homepage

section.aboutUs {
  display: flex;
  width: 100%;

  .aboutContent {
    text-align: center;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      padding: 3rem;
    }
    a {
      display: inline-block;
      border: solid 1px;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      text-decoration: none;
      color: black;
      // margin: 0.5% 33%;
      transition: 0.5s ease-in;
      opacity: 0.4;
      &:hover {
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      }
    }
    p {
      font-size: 1.5rem;
      line-height: 10vh;
      padding: 0rem 5rem 4rem 5rem;
    }
    h1,
    a {
      text-align: center;
    }
    // a {
    //     border: solid;
    //     padding: 1rem 1.5rem;
    //     font-size: 1.5rem;
    //     text-decoration: none;
    //     color: black;
    //     display: block;
    // }
  }

  .imgContent {
    width: 50vw;
    .aboutimg1,
    .aboutimg2 {
      width: 50vw;
      height: 50vh;
    }
  }
}

// Service in Homepage

#servicePage {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .serviceText {
    h1,
    p {
      text-align: center;
    }
    h1 {
      font-size: 3rem;
      margin-top: 3rem;
    }
    p {
      font-size: 1.5rem;
      margin: 3rem 3rem 1.25rem 3rem;
      line-height: 5vh;
      text-indent: 30px;
      letter-spacing: 4px;
    }
  }

  .graphicPic {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      text-align: center;
      li {
        margin: 3rem 4rem;
        padding: 3rem 4rem;
        i {
          font-size: 4.5rem;
          margin-bottom: 2rem;
          //   display: block;
          //   text-align: center;
        }
        p {
          font-size: 2rem;
          //   text-align: center;
          background: linear-gradient(to bottom, #f1ebea 0%, #272538 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-color: white;
        }
      }
    }
  }
}

// One-stop homepage

#One-stop {
  .container {
    height: 100vh;
    .half1 {
      height: 40vh;
      position: relative;
      top: 3rem;
      .half1-text {
        width: 50%;
        height: 100%;
        h1 {
          font-size: 3rem;
          padding-bottom: 2rem;
          padding-left: 20%;
          padding-top: 3rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 4vh;
          text-align: start;
          padding-left: 20%;
          letter-spacing: 4px;
        }
      }
      .half1-pic {
        background: url(../../images/homepage4/office.jpg);
        width: 35vw;
        height: 30vh;
        top: 30px;
        right: 0;
        margin-right: 100px;
        background-position: center;
        background-size: cover;
        position: absolute;
      }
    }
    .half2 {
      display: flex;
      justify-content: space-evenly;
      padding: 14vh 0rem;
      ul {
        .half22 {
          width: 25vw;
          height: 25vh;
        }
        p {
          text-align: center;
          font-size: 1.6rem;
          padding: 4vh 0rem;
        }
        .pic1 {
          background: url(../../images/homepage4/planning2.jpg);
          background-position: center;
          background-size: cover;
        }
        .pic2 {
          background: url(../../images/homepage4/inquiry.jpg);
          background-position: center;
          background-size: cover;
        }
        .pic3 {
          background: url(../../images/homepage4/design.jpg);
          background-position: center;
          background-size: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1570px) {
  #about-us{
    .aboutContent{
      p{
        line-height: 8vh;
      }
    }  
  }

  #One-stop{
    .container{
      .half1{
        .half1-text{
          h1{
            font-size: 2rem;
          }
          p{
            font-size: 1.5rem;
            line-height: 3vh;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {

  #about-us{
    .aboutContent{
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 1.25rem;
        line-height: 5vh;
        padding: 0rem 2rem 4rem 2rem;
      }
      a{
        padding: 0.5rem 1rem;
      }
    }
    .imgContent{
      width: 50%;
      img{
        height: 50%;
      }
    }
  }

  #servicePage{
    .graphicPic{
      display: grid;
      grid-template-rows: 200px 200px 200px;
      ul{
        flex-direction: row;
        li{
          margin: 0px;
          padding: 3rem 2rem;
          .fas{
            font-size: 4rem;
            margin-bottom: 2rem;
          }
          p{
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #One-stop{
    height: 180vh;
    .container{
      .half1{
        margin-bottom: 3rem;
        .half1-text{
          h1, p{
            padding-left: 10%;
          }
          h1{
            padding-top: 1rem;
          }
        }
      }
      .half2{
        padding: 0;
        flex-direction: column;
        ul{
          padding: 3rem 3rem 0 3rem;
          .half22{
            width: 100%;
            }
          p{
            font-size: 1rem;
            padding: 2vh 0rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  #home-page{
    .firstBackgoundPic{
      p{
        font-size: 2rem;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  #home-page{
    .firstBackgoundPic{
      p{
        font-size: 1.5rem;
      }
      a{
        font-size: 1rem;
        padding: 0.75rem 1rem;
      }
    }
  }

  #about-us{
    .aboutContent{
      h1{
        font-size: 1.5rem;
      }
      p{
        font-size: 0.75rem;
        line-height: 5vh;
        padding: 0rem 2rem 2rem 2rem;
      }
      a{
        padding: 0.5rem 1rem;
      }
    }
    .imgContent{
      width: 50%;
      img{
        height: 50%;
      }
    }
  }

  #servicePage{
    .serviceText{
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
        letter-spacing: 1px;
      }
    }
    .graphicPic{
      display: grid;
      grid-template-rows: 200px 200px 200px;
      ul{
        flex-direction: row;
        li{
          margin: 0px;
          padding: 3rem 2rem;
          .fas{
            font-size: 4rem;
            margin-bottom: 2rem;
          }
          p{
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #One-stop{
    height: 190vh;
    .container{
      .half1{
        .half1-text{
          h1{
            font-size: 1.5rem;
          }
          p{
            font-size: 1rem;
            line-height: 2vh;
          }
        }
        .half1-pic{
          width: 30%;
          height: 25vh;
          top: 5vh;
        }
      }
      
    }
  }
}

@media screen and (max-width: 550px) {

  #about-us{
    .imgContent{
      display: none;
    }
  }

  #servicePage{
    .serviceText{
      h1{
        font-size: 2rem;
      }
      p{
        font-size: 0.75rem;
        margin: 3rem 2rem 1.25rem 2rem;
      }
    }
    .graphicPic{
      ul{
        li{
          padding: 2rem 1rem;
          .fas, .far{
            font-size: 2rem;
          }
          p{
            font-size: 1rem;
          }
        }
      }
    }
  }

  #One-stop{
    height: 200vh;
    .container{
      .half1{
        height: 40vh;
        .half1-text{
          width: 100%;
          p{
            font-size: 0.75rem;
          }
        }
        .half1-pic{
          display: none;
        }
      }
    }
  }
}



// & div.homePage1Text {
//     position: absolute;
//     text-align: center;
//     font-weight: normal;
//     margin: 3rem;
//     & p{
//         color: #235057;
//         font-size: 3rem;
//     }
//     & button {
//         color: #235057;
//         font-size: 1.5rem;
//         padding: 1rem 1rem;
//         border-radius: 1rem;
//     }
// }

/* section.homePage1 div.firstBackgoundPic {

} */

/* .firstBackgound {
    width: 100%;
    height: 100%;
} */


