/* First Page */
section.homePage1 {
  position: relative;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

section.homePage1 div.firstBackgoundPic {
  background: url(../../images/firstpage/first.jpg);
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

section.homePage1 div.firstBackgoundPic p {
  color: #235057;
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
  margin: 3rem;
  z-index: 2;
  font-weight: bold;
}

section.homePage1 div.firstBackgoundPic a {
  text-decoration: none;
  background-color: white;
  border: solid 2px;
  color: #235057;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  text-align: center;
  z-index: 2;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
}

section.homePage1 div.firstBackgoundPic a:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

section.homePage1 .homePagefilter {
  background-color: rgba(255, 255, 255, 0.6);
  height: 90vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

section.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.aboutUs .aboutContent h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem;
}

section.aboutUs .aboutContent a {
  border: solid 1px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  display: block;
  margin: 0.5% 33%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
}

section.aboutUs .aboutContent a:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

section.aboutUs .aboutContent p {
  font-size: 1.5rem;
  line-height: 10vh;
  padding: 0rem 5rem 4rem 5rem;
}

section.aboutUs .aboutContent h1,
section.aboutUs .aboutContent a {
  text-align: center;
}

section.aboutUs .imgContent {
  width: 50vw;
}

section.aboutUs .imgContent .aboutimg1,
section.aboutUs .imgContent .aboutimg2 {
  width: 50vw;
  height: 50vh;
}

section#servicePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

section#servicePage .serviceText h1,
section#servicePage .serviceText p {
  text-align: center;
}

section#servicePage .serviceText h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

section#servicePage .serviceText p {
  font-size: 1.5rem;
  margin: 3rem 3rem 1.25rem 3rem;
  line-height: 5vh;
  text-indent: 30px;
  letter-spacing: 4px;
}

section#servicePage .graphicPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#servicePage .graphicPic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-align: center;
}

section#servicePage .graphicPic ul li {
  margin: 3rem 4rem;
  padding: 3rem 4rem;
}

section#servicePage .graphicPic ul li i {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

section#servicePage .graphicPic ul li p {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1ebea), to(#272538));
  background: linear-gradient(to bottom, #f1ebea 0%, #272538 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: white;
}

#One-stop .container {
  height: 100vh;
}

#One-stop .container .half1 {
  height: 40vh;
  position: relative;
  top: 3rem;
  left: 2rem;
}

#One-stop .container .half1 .half1-text {
  width: 50%;
  height: 100%;
}

#One-stop .container .half1 .half1-text h1 {
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-left: 20%;
}

#One-stop .container .half1 .half1-text p {
  font-size: 1.5rem;
  line-height: 3vh;
  text-align: start;
  padding-left: 20%;
  letter-spacing: 4px;
}

#One-stop .container .half1 .half1-pic {
  background: url(../../images/homepage4/office.jpg);
  width: 35vw;
  height: 30vh;
  top: 30px;
  right: 0;
  margin-right: 100px;
  background-position: center;
  background-size: cover;
  position: absolute;
}

#One-stop .container .half2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 14vh 0rem;
}

#One-stop .container .half2 ul .half22 {
  width: 25vw;
  height: 25vh;
}

#One-stop .container .half2 ul p {
  text-align: center;
  font-size: 1.6rem;
  padding: 4vh 0rem;
}

#One-stop .container .half2 ul .pic1 {
  background: url(../../images/homepage4/planning2.jpg);
  background-position: center;
  background-size: cover;
}

#One-stop .container .half2 ul .pic2 {
  background: url(../../images/homepage4/inquiry.jpg);
  background-position: center;
  background-size: cover;
}

#One-stop .container .half2 ul .pic3 {
  background: url(../../images/homepage4/design.jpg);
  background-position: center;
  background-size: cover;
}

/* section.homePage1 div.firstBackgoundPic {

} */
/* .firstBackgound {
    width: 100%;
    height: 100%;
} */
/*# sourceMappingURL=firstpage.css.map */