* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0.5rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header div.logo {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

header div.logo p {
  font-size: 2rem;
  color: #48a4a4;
  font-weight: bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-around; */
}

header nav ul li {
  list-style-type: none;
  padding: 0rem 2.2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #48a4a4;
  font-size: 1.5rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header nav ul li a:hover {
  color: black;
}

.dynamicHeader {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 0;
  left: 0;
  z-index: 3;
}

.dynamicHeader a {
  color: white;
}

.dynamicHeader a:hover {
  color: #48a4a4;
}

/* First Page */
#back-top {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
}

#back-top i {
  font-size: 32px;
  color: #48a4a4;
}

.showBtn a {
  background-color: black;
}

section.homePage1 {
  position: relative;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

section.homePage1 div.firstBackgoundPic {
  background: url(../../images/firstpage/first.jpg);
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

section.homePage1 div.firstBackgoundPic p {
  color: #235057;
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
  margin: 3rem;
  z-index: 2;
  font-weight: bold;
}

section.homePage1 div.firstBackgoundPic a {
  text-decoration: none;
  background-color: white;
  border: solid 2px;
  color: #235057;
  font-size: 1.25rem;
  padding: 1rem 2.5rem;
  text-align: center;
  z-index: 2;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
}

section.homePage1 div.firstBackgoundPic a:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

section.homePage1 .homePagefilter {
  background-color: rgba(255, 255, 255, 0.6);
  height: 90vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

section.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.aboutUs .aboutContent h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem;
}

section.aboutUs .aboutContent a {
  border: solid 1px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  display: block;
  margin: 0.5% 33%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
}

section.aboutUs .aboutContent a:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

section.aboutUs .aboutContent p {
  font-size: 1.5rem;
  line-height: 10vh;
  padding: 0rem 5rem 4rem 5rem;
}

section.aboutUs .aboutContent h1,
section.aboutUs .aboutContent a {
  text-align: center;
}

section.aboutUs .imgContent {
  width: 50vw;
}

section.aboutUs .imgContent .aboutimg1,
section.aboutUs .imgContent .aboutimg2 {
  width: 50vw;
  height: 50vh;
}

section#servicePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

section#servicePage .serviceText h1,
section#servicePage .serviceText p {
  text-align: center;
}

section#servicePage .serviceText h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

section#servicePage .serviceText p {
  font-size: 1.5rem;
  margin: 3rem 3rem 1.25rem 3rem;
  line-height: 5vh;
  text-indent: 30px;
  letter-spacing: 4px;
}

section#servicePage .graphicPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#servicePage .graphicPic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  text-align: center;
}

section#servicePage .graphicPic ul li {
  margin: 3rem 4rem;
  padding: 3rem 4rem;
}

section#servicePage .graphicPic ul li i {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

section#servicePage .graphicPic ul li p {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1ebea), to(#272538));
  background: linear-gradient(to bottom, #f1ebea 0%, #272538 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-color: white;
}

#One-stop .container {
  height: 100vh;
}

#One-stop .container .half1 {
  height: 40vh;
  position: relative;
  top: 3rem;
  left: 2rem;
}

#One-stop .container .half1 .half1-text {
  width: 50%;
  height: 100%;
}

#One-stop .container .half1 .half1-text h1 {
  font-size: 3rem;
  padding-bottom: 3rem;
  padding-left: 20%;
}

#One-stop .container .half1 .half1-text p {
  font-size: 1.5rem;
  line-height: 3vh;
  text-align: start;
  padding-left: 20%;
  letter-spacing: 4px;
}

#One-stop .container .half1 .half1-pic {
  background: url(../../images/homepage4/office.jpg);
  width: 35vw;
  height: 30vh;
  top: 30px;
  right: 0;
  margin-right: 100px;
  background-position: center;
  background-size: cover;
  position: absolute;
}

#One-stop .container .half2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 14vh 0rem;
}

#One-stop .container .half2 ul .half22 {
  width: 25vw;
  height: 25vh;
}

#One-stop .container .half2 ul p {
  text-align: center;
  font-size: 1.6rem;
  padding: 4vh 0rem;
}

#One-stop .container .half2 ul .pic1 {
  background: url(../../images/homepage4/planning2.jpg);
  background-position: center;
  background-size: cover;
}

#One-stop .container .half2 ul .pic2 {
  background: url(../../images/homepage4/inquiry.jpg);
  background-position: center;
  background-size: cover;
}

#One-stop .container .half2 ul .pic3 {
  background: url(../../images/homepage4/design.jpg);
  background-position: center;
  background-size: cover;
}

/* section.homePage1 div.firstBackgoundPic {

} */
/* .firstBackgound {
    width: 100%;
    height: 100%;
} */
#aboutMore {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutMore #aboutMoreText {
  width: 50%;
  height: 90vh;
  padding: 2rem 3rem 3rem 3rem;
  text-align: center;
}

#aboutMore #aboutMoreText h1 {
  margin: 3rem;
  font-size: 3rem;
}

#aboutMore #aboutMoreText .para {
  font-size: 1rem;
  line-height: 5vh;
  margin-bottom: 3rem;
  padding: 0 2rem;
}

#aboutMore #aboutMoreText .p1 {
  text-indent: 40px;
}

#aboutMore #aboutMorepic {
  width: 50%;
  height: 90vh;
  background: url(../../images/aboutNewPage/aboutmore.jpg);
  background-position: center;
  background-size: cover;
}

#casepage {
  height: 180vh;
}

#casepage .case-text {
  text-align: center;
  padding: 3rem;
}

#casepage .case-text h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#casepage .case-text p {
  font-size: 1rem;
}

#casepage .case-pic {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 7vw;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 4rem;
}

#casepage .case-pic .case {
  height: 35vh;
  margin-bottom: 8rem;
  position: relative;
}

#casepage .case-pic .case p {
  position: absolute;
  bottom: -7vh;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

#casepage .case-pic .pic1 {
  background: url(../../images/casePage/210521_circle_0.jpg);
  background-position: center;
  background-size: cover;
}

#casepage .case-pic .pic2 {
  background: url(../../images/casePage/210527_suyufish_x.jpg);
  background-position: center;
  background-size: cover;
}

#casepage .case-pic .pic3 {
  background: url(../../images/casePage/210530_marasovic_0.jpg);
  background-position: center;
  background-size: cover;
}

#casepage .case-pic .pic4 {
  background: url(../../images/casePage//210716_cl_0.jpg);
  background-position: center;
  background-size: cover;
}

#casepage .case-pic .pic5 {
  background: url(../../images/casePage/210716_modernhouse_0.jpg);
  background-position: center;
  background-size: cover;
}

#casepage .case-pic .pic6 {
  background: url(../../images/casePage/210717_think_0.jpg);
  background-position: center;
  background-size: cover;
}

#contact-page {
  height: 90vh;
}

#contact-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-page .container .contact-text {
  text-align: center;
  width: 50%;
  padding: 5rem;
}

#contact-page .container .contact-text h1 {
  font-size: 3rem;
  padding: 3rem;
  margin-bottom: 2.5rem;
}

#contact-page .container .contact-text p {
  font-size: 1.5rem;
  padding: 3rem;
}

#contact-page .container .contact-pic {
  width: 50%;
  height: 90vh;
  background: url(../../images/contactPage/pexels-daria-shevtsova-892618.jpg);
  background-size: cover;
  background-position: center;
}

#contact-form {
  height: 100vh;
}

#contact-form .container-form {
  text-align: center;
  padding: 0 3rem;
}

#contact-form .container-form h1 {
  padding: 10rem 0 3rem 0;
  font-size: 3rem;
}

#contact-form .container-form form input,
#contact-form .container-form form textarea {
  width: 40%;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

#contact-form .container-form form input::-webkit-input-placeholder,
#contact-form .container-form form textarea::-webkit-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input:-ms-input-placeholder,
#contact-form .container-form form textarea:-ms-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input::-ms-input-placeholder,
#contact-form .container-form form textarea::-ms-input-placeholder {
  font-weight: bold;
}

#contact-form .container-form form input::placeholder,
#contact-form .container-form form textarea::placeholder {
  font-weight: bold;
}

#contact-form .container-form form .one,
#contact-form .container-form form .two,
#contact-form .container-form form .three,
#contact-form .container-form form .four,
#contact-form .container-form form .five {
  height: 30px;
}

#contact-form .container-form form .six {
  height: 100px;
}

#contact-form .container-form form button {
  width: 10%;
  border: solid 1px;
  color: black;
  background: white;
  padding: 0.5rem 1.5rem;
  margin-top: 1.5rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
  cursor: pointer;
}

#contact-form .container-form form button:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#formHandler {
  height: 90vh;
  text-align: center;
}

#formHandler h1,
#formHandler p {
  padding: 2rem;
}

#formHandler i {
  margin-top: 15vh;
  font-size: 6rem;
  color: lightgreen;
}

#formHandler h1 {
  font-size: 3rem;
}

#formHandler p {
  font-size: 1.5rem;
}

#formHandler a {
  display: inline-block;
  text-transform: uppercase;
  width: 15%;
  border: solid 1px;
  color: black;
  background: white;
  padding: 1rem;
  margin-top: 1.5rem;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 0.4;
  cursor: pointer;
}

#formHandler a:hover {
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

footer {
  background: #434348;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h1 {
  color: #48A4A4;
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

footer .header-list li {
  padding: 1.25rem 2rem;
}

footer .header-list li a {
  color: #48A4A4;
  font-size: 1.5rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .header-list li a:hover {
  color: black;
}

footer .hearder-pic li a {
  color: #48A4A4;
  font-size: 1rem;
  padding: 1.25rem 2rem;
}

footer .hearder-pic li a i {
  color: white;
  font-size: 2rem;
  padding: 0rem 1.25rem;
  padding-bottom: 1rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer .hearder-pic li a i:hover {
  color: black;
}

footer p {
  color: #48A4A4;
  text-align: center;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */