* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

@import "./header/header.scss";

@import "./firstpage/firstpage.scss";

@import "./about/about.scss";

@import "./contact/contact.scss";

@import "./footer/footer.scss";
