#aboutMore {
  height: 90vh;
  display: flex;
  // #aboutMoreText {
  //   width: 50vw;
  //   height: 90vh;
  // }

  #aboutMoreText{
    width: 50%;
    height: 90vh;
    padding: 2rem 3rem 3rem 3rem;
    text-align: center;
    
    h1{
      margin: 3rem;
      font-size: 3rem;
    }
    .para{
      font-size: 1rem;
      line-height: 5vh;
      margin-bottom: 3rem;
      padding: 0 2rem;
      // text-transform: full-size-kana;
    }
    .p1{
      text-indent: 40px;
    }

  }

  #aboutMorepic {
    width: 50%;
    height: 90vh;
    background: url(../../images/aboutNewPage/aboutmore.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 1000px) {
  #aboutMore{
    #aboutMoreText {
      h1{
        font-size: 2rem;
      }
      .para{
        font-size: 1rem;
      }
    }
  } 
}

@media screen and (max-width: 800px){
  #aboutMore{
    flex-direction: column;
    #aboutMoreText {
      width: 100%;
      padding: 0rem;
      h1{
        font-size: 1.5rem;
        padding-top: 2rem;
        margin: 2rem;
      }
      .para{
        line-height: 3vh;
        font-size: 0.75rem;
        margin-bottom: 1.5rem;
      }
      .p1{
        text-indent: 20px;
      }
    }
    #aboutMorepic{
      height: 100vh;
      width: 100%;
    }
  }
}

@media screen and (max-width: 350px) {
  #aboutMore{
    #aboutMorepic{
      display: none;
    }
    #aboutMoreText{
      .para{
        font-size: 0.75rem;
      }
    }
  }
}